@import 'variables';

.btn {
    cursor: pointer;
    background: $orange;
    color: white;
    padding: 10px 15px;
    border: 0;
    min-height: 38px;

    &.btn--icon {
        background: transparent;
        color: inherit;
        border: 0;
        padding: 6px;
        min-height: 33px;
    }

    &.btn--with-icon {
        padding: 10px 15px 10px 10px;

        i {
            margin-right: 5px;
            vertical-align: top;
        }

        span {
            vertical-align: top;
            display: inline-block;
            margin-top: 2px;
        }
    }
}