@import 'variables';

.btn {
    cursor: pointer;
    background: $orange;
    color: white;
    padding: 10px 15px;
    border: 0;
}

.btn--icon {
    background: transparent;
    color: inherit;
    border: 0;
    padding: 5px;
}

.btn--with-icon {

    svg.svg-inline--fa {
        margin-right: 5px;
    }
}