@import 'variables';

.form-group {
    margin-bottom: 15px;

    .form-group__label {
	    display: block;
	    margin-bottom: 7px;
	}

	.form-group__control {
	    min-width: 300px;

	    &:not([type='checkbox']):not([type='radio']) {
	        padding: 8px;
	        border: 1px $input-border-color solid;
	    }
	}
}