@import 'variables';

header {
    background: $orange;
    padding: 20px 60px;

    .search {
        position: relative;

        .search__button {
            background-color: rgba(255,255,255,0.3);
            background-image: url("/images/search.png");
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
            border: 0;
            padding: 23px;
            width: 21px;
            height: 21px;
            transition: background-color 0.25s ease-out 0s;
            border-radius: $border-radius;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &.active .search__button {
            background-color: rgba(255,255,255,0.45);
        }

        .search__box {
            height: 46px;
            font-size: 14px;
            vertical-align: top;
            padding: 0 10px;
            border: 0;
            color: white;
            display: inline-block;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            transition: all 0.25s ease-out 0s;
            background-color: rgba(255,255,255,0.3);
            //opacity: 0;
            width: 200px;

            &::placeholder {
                color: white;
            }
        }

        &.active .search__box {
            //opacity: 1;
            background-color: rgba(255,255,255,0.45);
        }

        .search__results {
            margin-top: 5px;
            display: none;
            position: absolute;
            font-size: 14px;
            width: 100%;
            box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
            
            li {
                padding: 12px 10px;
                background-color: white;
                cursor: pointer;

                &:first-child {
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }

                &:last-child {
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }

                &:hover {
                    background-color: $light-gray;
                }
            }
        }

        &.active .search__results {
            display: block;
        }
    }

    .header__logo {
        margin-right: 30px;
        display: inline-block;
    }

    .header__menu {
        display: inline-block;
        vertical-align: top;

        ul {
            display: inline-block;

            li {
                display: inline-block;

                a {
                    text-decoration: none;
                    color: $header-link-color;
                    padding: 15px 10px;
                    display: inline-block;
                    transition: background-color 0.25s ease-out 0s;
                    user-select: none;
                    //need prefix?
                    border-radius: $border-radius;

                    &:active, 
                    &:focus {
                        background-color: rgba(255,255,255,0.45); 
                    }

                    &:hover {
                        background-color: rgba(255,255,255,0.3); 
                    }
                }
            }
        }
    }
}