.modal {
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    
    &.close {
        display: none;
    }
}

.modal__body {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    max-height: calc(100vh - 100px);
    z-index: 9;
    background-color: white;
    padding: 20px;
}

.modal__close {
    position: absolute;
    top: 15px;
    right: 15px;
}