.recipe__category {
    display: inline-block;
    font-size: 18px;
}

.recipe__photo {
    width: 100%;
}

.recipe__header {
    margin-bottom: 10px;
}

.recipe__description {
    line-height: 1.6;
}