$gray-bg            : #dddddd;
$orange             : #f18568;
$header-link-color  : white;
$border-radius      : 4px;
$light-gray         : #eeeeee;
$link-color         : #b6741e;

$danger             : #a50707;

$input-border-color : #c3c3c3;