@import 'reset';
@import 'header';
@import 'recipe';
@import 'grid';
@import 'variables';

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: $gray-bg;
    margin-top: 100px;
    font-family: sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.pull-right {
    float: right;
}

button, input {
    &:focus {
        outline: none;
    }
}

main {
    background-color: white;
    padding: 45px 60px;
}

h1 {
    font-family: Calibri, sans-serif;
    font-size: 30px;
    margin-bottom: 10px
}

h2 {
    font-weight: bold;
    margin-bottom: 15px;
}

a {
    color: $link-color;
}

ul.marked {
    list-style: disc;
    margin-left: 18px;

    li {
        margin-bottom: 5px;
    }
}

img {
    max-width: 100%;
}